{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>

    <p>{{ article.description }}</p>


    <h2>Commentaires</h2>
    {% for avi in avis %}
        <div>
            <h3>{{ avi.getIdUser().getEmail() }}</h3>
            <p>Note : {{ avi.getNbAvis() }}</p>
            <p>Commentaire : {{ avi.getCommentaires() }}</p>
            <p>Date : {{ avi.getDate()|date('d-m-Y') }}</p>
            <p>Status : {{ avi.getStatus() }}</p>
        </div>
    {% else %}
        <p>Aucun commentaire pour cet article.</p>
    {% endfor %}

    {% if app.user %}
        <h2>Ajouter un commentaire</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    {% endif %}

    <a href="{{ path('app_articles_index') }}">Retour à la liste des articles</a>
    {% if app.user %}
        <form method="post" action="{{ path('app_articles_save', {'id': article.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('save' ~ article.id) }}">
            <button type="submit">Enregistrer cet article</button>
        </form>
    {% endif %}
{% endblock %}